.container{
    position: relative;
}

.programming{
    display: flex;
    margin-top: -20px;
    color: white;
}

@media (min-width:992px) {
    .container{
        width:970px;
    }
  }
  
  @media (min-width:1200px) {
    .container{
        width: 970px;
    }
  }

.programming .videoside{
    flex: 2;
    background-color: #1e1c26;
}

.programming .listside{
    flex: 1;
    background-color: #16141c;
}

.programming .videoside h2{
    color: white;
    padding: 20px;
    direction: rtl;
    position: relative;
}

.programming .videoside h2::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 140px;
    background-color: white;
    bottom: 3px;
    right: 0;

}

.programming .videoside p{
    direction: rtl;
    padding: 20px;
    font-size: 20px;
    height: 297px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.programming .listside h2{
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid #797979;
    padding-bottom: 10px;
}

@media (max-width:992px) {
    .programming{
        flex-direction: column;
    }

    .programming .videoside{
        flex: none;
    }

    .programming .listside{
        flex: none;
    }
}

@media (max-width:768px){
    .programming .videoside h2,.programming .videoside p{
        font-size: 16px;
    }

    .programming .videoside h2::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 100px;
        background-color: white;
        bottom: 3px;
        right: 0;
    
    }
}

.morebtn{
    direction: rtl;
    margin: 10px;
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
}

.dots{
    direction: rtl;
    margin-right: 20px;
}