/* Start Rules */
*,*::after,*::before{
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (min-width:759px) {
    
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #1e1c26;
}

.container {
  padding-left:15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:768px) {
  .container{
      width:750px;
  }
}

@media (min-width:992px) {
  .container{
      width:900px;
  }
}

@media (min-width:1200px) {
  .container{
      width: 900px;
  }
}

ul{
  list-style: none;
}

ol{
  list-style: none;
}

:root{
--main-color:#ffff51;
}

a{
  text-decoration: none;
}

.boxLoading{  
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 300;
}

.boxLoading:before{
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}

.boxLoading::after{

  content: '';
  width: 50px;
  height: 50px;
  background: #2196f3;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}


@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}


@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.loadingback{
  z-index: 200;
  width: 10000px;
  height: 10000px;
  background-color: #1e1c26;
  position: absolute;
  transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
}
/* End Rules */
